[submodule "vendor/SDL"]
	path = vendor/SDL
	url = https://github.com/libsdl-org/SDL
[submodule "vendor/vk-bootstrap"]
	path = vendor/vk-bootstrap
	url = https://github.com/charles-lunarg/vk-bootstrap
[submodule "vendor/vma"]
	path = vendor/vma
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "vendor/tinygltf"]
	path = vendor/tinygltf
	url = https://github.com/syoyo/tinygltf
[submodule "assets/glTF-Sample-Assets"]
	path = assets/glTF-Sample-Assets
	url = https://github.com/KhronosGroup/glTF-Sample-Assets
