[submodule "vendor/SDL"]
	path = vendor/SDL
	url = https://github.com/libsdl-org/SDL
[submodule "vendor/vk-bootstrap"]
	path = vendor/vk-bootstrap
	url = https://github.com/charles-lunarg/vk-bootstrap
